/* 
    Document   : Home
    Created on : Dec 27, 2012, 2:44:34 PM
    Author     : praveen
    Description:
        Purpose of the stylesheet follows.
*/

#home{
position: absolute;
top: 30px;
left: 1350px;    
font-size: 14pt;
}

a{
margin:15px;    
}
