<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/struts-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>2</param-value>
        </init-param>
        <init-param>
            <param-name>detail</param-name>
            <param-value>2</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>PittStudentBank.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountServlet</servlet-name>
        <servlet-class>PittStudentBank.AccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountDetailsServlet</servlet-name>
        <servlet-class>PittStudentBank.AccountDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CCRegisterServlet</servlet-name>
        <servlet-class>PittStudentBank.CCRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PurchaseServlet</servlet-name>
        <servlet-class>PurchaseandDeposit.PurchaseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DepositServlet</servlet-name>
        <servlet-class>PurchaseandDeposit.DepositServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreditCardServlet</servlet-name>
        <servlet-class>PittStudentBank.CreditCardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CCDetailsServlet</servlet-name>
        <servlet-class>PittStudentBank.CCDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoanServlet</servlet-name>
        <servlet-class>PittStudentBank.LoanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CCBillServlet</servlet-name>
        <servlet-class>PittStudentBank.CCBillServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BillPayServlet</servlet-name>
        <servlet-class>PittStudentBank.BillPayServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountServlet</servlet-name>
        <url-pattern>/AccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountDetailsServlet</servlet-name>
        <url-pattern>/AccountDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CCRegisterServlet</servlet-name>
        <url-pattern>/CCRegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PurchaseServlet</servlet-name>
        <url-pattern>/PurchaseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DepositServlet</servlet-name>
        <url-pattern>/DepositServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreditCardServlet</servlet-name>
        <url-pattern>/CreditCardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CCDetailsServlet</servlet-name>
        <url-pattern>/CCDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoanServlet</servlet-name>
        <url-pattern>/LoanServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CCBillServlet</servlet-name>
        <url-pattern>/CCBillServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BillPayServlet</servlet-name>
        <url-pattern>/BillPayServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            10
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>HomePage.jsp</welcome-file>
    </welcome-file-list>
</web-app>
